{% extends 'base.html' %}

{% block title %}
  Sobre Nós
{% endblock %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %}

{% block content %}
  <div class="about-container">
    <h1>Sobre Nós</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec sollicitudin arcu. Fusce sed imperdiet lectus, nec convallis turpis. Phasellus ut ultricies nunc. Nullam ut leo sed dui semper malesuada. Cras sed dui eget nisi dignissim euismod. Cras sit amet sem non nulla ultricies maximus. Nullam at erat non sapien ultricies maximus. Sed sit amet nulla ac nulla ultricies malesuada. Sed sit amet nulla ac nulla ultricies malesuada. Sed sit amet nulla ac nulla ultricies malesuada.</p>
  </div>
{% endblock %}

