footer {
    background: linear-gradient(180deg, transparent, #1F3BFF, #6C38FF);
    color: white;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    color: #D359FF;
}

footer .social-media {
    padding: 10px;
    font-size: 2em;
}

footer .social-media a {
    margin: 10px;
}

footer .links a {
    margin: 10px;
}

footer .copyright {
    padding: 10px;
}