.hero {
    background-image: url('../img/heroBackground.png');
    background-size: cover;
    background-position: center;

    padding: 8rem 4rem 24px 4rem;

    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    height: 100vh;
    color: white;

}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-width: 500px;
}

.hero h1 {
    font-size: 3em;
}

.hero .subtitle {
    font-size: 1.5em;
    font-weight: bold;
}

.hero .description {
    font-size: 1.2em;
}

.hero .hero-image {
    width: 100%;
    max-width: 500px;
}

.hero button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.hero button:hover {
    background-color: #6C38FF;
    color: white;
}