.navbar {
    position: fixed;
    width: 100%;
    padding: 20px;
    align-items: center;
    background: transparent;
    z-index: 99;
}

.navbar.scrolled {
    transition: background 0.5s ease;
    background: linear-gradient(130deg, #1F3BFF, #6C38FF, #D359FF);
}

.navbar a {
    color: white;
    margin: 10px;
}

.navbar a.active,
.navbar a:hover {
    border-bottom: 2px solid white;
    font-weight: bold;
}
